{% extends 'layouts/app.html' %}

{% block window_content %}
<form class="ui form"
      method="POST">
    {{ forms.csrf() }}
    <h1>Thanks for helping us improve!</h1>
    <div class="fields">
        <div class="eight wide field">
            <label>Good things</label>
            <textarea name="good_things"
                      placeholder="Things you want to see..."
                      ></textarea>
        </div>
        <div class="eight wide field">
            <label>Bad things</label>
            <textarea name="bad_things"
                      placeholder="Things you don't like..."
                      ></textarea>
        </div>
    </div>
    <button class="ui fluid black button">
        Send us feedback
    </button>
</form>
{% endblock %}
