{% extends 'layouts/app.html' %}

{% block window_content %}
<div class="ui one column center aligned grid">
    <div class="column">
        <i class="huge thumbs up icon"></i>
        <br>
        <h1>Thanks for helping us improve!</h1>
    </div>
</div>
{% endblock %}
