{% extends 'layouts/default.html' %}

{% block content %}
<div class="ui one column grid">
    <div class="column">
        <div class="ui top attached inverted block header">
            <div style="float: right;">
                <a href="{{ url_for('destroy_user_session') }}">
                    Log out
                </a>
            </div>
            Macromeasures for Instagram
        </div>

        {% include 'layouts/flash.html' with context %}

        <div class="ui bottom attached segment">
            <div class="ui horizontally divided grid">
                <div class="three wide column">
                    <div class="ui fluid vertical window_sidebar text menu">
                        <div class="header item">
                            Instagram accounts
                        </div>
                        {% for account in g.current_user.company.instagram_accounts %}
                        <a class="{{ 'active' if instagram_account and instagram_account.id == account.id else '' }} item"
                           href="{{ url_for('show_instagram_account', instagram_account_id=account.id) }}">
                            <i class="instagram icon"></i>
                            {{ account.username }}
                        </a>
                        {% endfor %}
                        <a class="item"
                           href="{{ url_for('connect_instagram_account') }}">
                           <i class="plus icon"></i>
                           Add account
                        </a>

                        <div class="ui hidden divider item"></div>
                        <div class="ui hidden divider item"></div>
                        <div class="ui hidden divider item"></div>
                    </div>
                </div>
                <div class="thirteen wide column">
                    {% block window_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
