{% import 'macros/forms.html' as forms %}
<!doctype html>
<html>
    <head>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
