{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
{% set is_last = loop.index == (messages | length) %}
<div class="ui attached {{ category }} {{ 'last' if is_last else '' }} message">
    <i class="close icon"></i>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
