<link rel="icon" href="http://macromeasures.com/img/favicon.ico" type="image/x-icon"/>
<link href="https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css" rel="stylesheet"/>
<link rel="stylesheet" href="{{ url_for('static', filename='semantic.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
<title>Macromeasures Instagram</title>
