<div class="ui secondary pointing menu">
    <a class="item"
       href="/">
        Macromeasures for Instagram
    </a>

    <div class="right menu">
        {% if g.current_user %}
        <a class="item"
           href="{{ url_for('list_instagram_accounts') }}">
            {{ g.current_user.company.name }}
        </a>
        <a class="item"
           href="{{ url_for('destroy_user_session') }}">
            Log out
        </a>
        {% else %}
        <a class="item"
           href="{{ url_for('new_user_session') }}">
            Log in
        </a>
        <a class="item"
           href="{{ url_for('new_user_registration') }}">
            Sign up
        </a>
        {% endif %}
    </div>
</div>
