<script src="https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='ui.js') }}"></script>
