.ui.footer.segment,
.ui.inverted.segment:not(.red):not(.orange):not(.yellow):not(.olive):not(.green):not(.teal):not(.blue):not(.violet):not(.purple):not(.pink):not(.brown):not(.grey):not(.black),
.ui.inverted.block.header,
.ui.black.button {
    background-image: url("bluetriangles.png");
    background-repeat: repeat;
}

.ui.inverted.block.header a {
    color: currentcolor;
}

.ui.last.attached.message {
    border-bottom: 1px solid;
}

.ui.block.header, .column:not(.row):not(.grid) {
    padding: 25px !important;
}

.ui.attached.segment:not(.compact) {
    width: calc(100% + 2px) !important;
    max-width: calc(100% + 2px) !important;
}

.ui.progress:not(.active) .bar {
    min-width: 0;
}

.ui.window_sidebar.menu {
    min-height: 450px;
}

.ui.text.menu .active.item {
    font-weight: bold;
}

p.faded {
    opacity: 0.65;
}
