{% extends 'layouts/default.html' %}

{% block content %}

<div class="ui doubling stackable center aligned grid">
    <div class="eight wide left aligned column">
        <div class="ui top attached inverted block header">
            Log in
        </div>
        {% include 'layouts/flash.html' %}
        <div class="ui bottom attached segment">
            <form class="ui form" method="POST">
                {{ forms.csrf() }}
                <div class="field">
                    <label>Email</label>
                    <input type="email"
                           name="email"
                           value="{{ email }}"
                           required
                           placeholder="you@awesome.co"/>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password"
                           name="password"
                           required
                           placeholder="Password"/>
                </div>
                <button class="ui fluid black button">
                    Log in
                </button>
            </form>
        </div>
        <p class="faded">
            Don&apos;t have an account? Create one
            <a href="{{ url_for('new_user_registration') }}">
                here.
            </a>
        </p>
    </div>
</div>

{% endblock %}
