{% extends 'layouts/default.html' %}

{% block content %}

<div class="ui doubling stackable center aligned grid">
    <div class="eight wide left aligned column">
        <div class="ui top attached inverted block header">
            Sign up
        </div>
        {% include 'layouts/flash.html' %}
        <div class="ui bottom attached segment">
            <form class="ui form" method="POST">
                {{ forms.csrf() }}
                <div class="field">
                    <label>Name</label>
                    <input type="text"
                           name="name"
                           value="{{ name }}"
                           required
                           placeholder="Sam"/>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="email"
                           name="email"
                           value="{{ email }}"
                           required
                           placeholder="you@awesome.co"/>
                </div>
                <div class="field">
                    <label>Company</label>
                    <input type="text"
                           name="company"
                           value="{{ company }}"
                           required
                           placeholder="Company"/>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password"
                           name="password"
                           required
                           placeholder="Password"/>
                </div>
                <div class="field">
                    <label>Password confirmation</label>
                    <input type="password"
                           name="password_confirmation"
                           required
                           placeholder="Password confirmation"/>
                </div>
                <button class="ui fluid black button">
                    Sign up
                </button>
            </form>
        </div>
        <p class="faded">
            Already have an account? Log in
            <a href="{{ url_for('new_user_session') }}">
                here.
            </a>
        </p>
    </div>
</div>

{% endblock %}
