{% extends 'layouts/app.html' %}

{% block window_content %}

<div class="ui doubling stackable center aligned grid">
    <div class="eight wide left aligned column">
        <p class="faded">
            We need to authorize the Instagram account
            to generate a report. Don&apos;t worry,
            we will never post on your behalf.
        </p>
        <a class="ui fluid instagram button"
           href="{{ connect_url }}">
            <i class="instagram icon"></i>
            Connect an Instagram account
        </a>
    </div>
</div>
{% endblock %}
