{% extends 'layouts/app.html' %}

{% macro progress_bar(percentage, color="black") %}
<div class="ui small {{ color }} progress bar"
     style="margin-bottom:0;">
    <div class="bar"
         style="width: {{ percentage }}%">
     </div>
</div>
{% endmacro %}

{% block window_content %}

<div class="ui items">
    <div class="item">
        <div class="ui tiny image">
            <img src="{{ instagram_account.image_url }}"/>
        </div>
        <div class="middle aligned content">
            <div class="header">
                @{{ instagram_account.username }}
            </div>
        </div>
    </div>
</div>

{% if not complete %}
<div class="ui active black progress bar">
    <div class="bar" style="width: {{ progress }}%">
        <div class="progress">
            {{ progress }}%
        </div>
    </div>
</div>
{% endif %}

{% if complete %}

{% if breakdown['country'] | length %}
<h3>Countries</h3>
<div id="map"
     style="height: 400px;">
</div>

<div class="ui hidden divider"></div>
{% endif %}

<div class="ui grid">
    <div class="ten wide column">
        <h3>Interests</h3>
        <table class="ui very basic table">
            {% for interest in hierarchy recursive %}

            {% if interest['key'] in breakdown['filtered_interests'] %}

            {% set padding = loop.depth0 * 25 %}

            {% set percentage = breakdown['filtered_interests'][interest['key']][1] %}
            {% if not (percentage < 5 and interest['children'] | length == 0) %}
            <tr>
                <td class="eleven wide"
                    style="padding-left: {{ padding }}px">
                    <span style="float:right">{{ percentage }}%</span>
                    {{ interest['name'] }}
                </td>
                <td class="five wide">
                    {{ progress_bar(percentage) }}
                </td>
            </tr>
            {% endif %}
            {% endif %}

            {{ loop(interest['children']) }}

            {% endfor %}
        </table>
    </div>
    <div class="six wide column">
        <h3>Gender</h3>
        <table class="ui very basic table">
            {% for gender, percentage in breakdown.gender %}
            <tr>
                <td class="eleven wide">
                    <span style="float:right">{{ percentage }}%</span>
                    {% if gender == 'P' %}
                    Personal
                    {% elif gender == 'O' %}
                    Organization / Spam
                    {% elif gender == "M" %}
                        Male
                    {% elif gender == "F" %}
                        Female
                    {% elif gender == "?" %}
                        Unknown
                    {% endif %}
                </td>
                <td class="five wide">
                    {{ progress_bar(percentage) }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="ui hidden divider"></div>

        <h3>Traits</h3>
        <table class="ui very basic table">
            {% for trait, percentage in breakdown.traits %}
            <tr>
                <td class="eleven wide">
                    <span style="float:right">{{ percentage }}%</span>
                    {{ trait['name'] }}
                </td>
                <td class="five wide">
                    {{ progress_bar(percentage) }}
                </td>
            </tr>
            {% endfor %}
            {% if not (breakdown.traits | length) %}
            <tr>
                <td colspan="2">
                    No traits detected.
                </td>
            </tr>
            {% endif %}
        </table>

        <div class="ui hidden divider"></div>

        <h3>Brands</h3>
        <table class="ui very basic table">
            {% for brand, percentage in breakdown.brands %}
            <tr>
                <td class="eleven wide">
                    <span style="float:right">{{ percentage }}%</span>
                    {{ brand['name'] }}
                </td>
                <td class="five wide">
                    {{ progress_bar(percentage) }}
                </td>
            </tr>
            {% endfor %}
            {% if not (breakdown.brands | length) %}
            <tr>
                <td colspan="2">
                    No brands detected.
                </td>
            </tr>
            {% endif %}
        </table>

        <div class="ui hidden divider"></div>

        <h3>Publishers</h3>
        <table class="ui very basic table">
            {% for publisher, percentage in breakdown.publishers %}
            <tr>
                <td class="eleven wide">
                    <span style="float:right">{{ percentage }}%</span>
                    {{ publisher['name'] }}
                </td>
                <td class="five wide">
                    {{ progress_bar(percentage) }}
                </td>
            </tr>
            {% endfor %}
            {% if not (breakdown.publishers | length) %}
            <tr>
                <td colspan="2">
                    No publishers detected.
                </td>
            </tr>
            {% endif %}
        </table>
        <div class="ui hidden divider"></div>

        <h3>TV Shows</h3>
        <table class="ui very basic table">
            {% for show, percentage in breakdown.shows %}
            <tr>
                <td class="eleven wide">
                    <span style="float:right">{{ percentage }}%</span>
                    {{ show['name'] }}
                </td>
                <td class="five wide">
                    {{ progress_bar(percentage) }}
                </td>
            </tr>
            {% endfor %}
            {% if not (breakdown.shows | length) %}
            <tr>
                <td colspan="2">
                    No TV shows detected.
                </td>
            </tr>
            {% endif %}
        </table>
        <div class="ui hidden divider"></div>

        <h3>Countries</h3>
        <table class="ui very basic table">
            {% for country, num_people in breakdown.country %}
            {% if country != '?' %}
            <tr>
                <td class="eleven wide" colspan="2">
                    <span style="float:right">
                        {{ num_people }} {{ 'person' if num_people == 1 else 'people' }}
                    </span>
                    {{ country }}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% if not (breakdown.country | length) %}
            <tr>
                <td colspan="2">
                    No countries detected.
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

<p class="faded">
    This report is from the individual profiles
    of up to the 1500 most recent followers of
    @{{ instagram_account.username }}
    before
    {{ instagram_account.updated | human_time }}.
</p>
{% endif %}
{% endblock %}

{% block scripts %}
{% if complete %}

{% if True %}
<script src="https://www.mapbox.com/mapbox.js/assets/data/world-110m.json"
        type="application/json"></script>
<script>
L.mapbox.accessToken = "pk.eyJ1IjoibWFjcm9tZWFzdXJlcyIsImEiOiI1OGNlZmM1MzdkZWU2MTIzMTU0ODJlNmEyMzhlMTk4NSJ9.AcwpBr0WGuA4essSTZ7SmQ";
window.map = L.mapbox.map("map", "macromeasures.o20ddp0k", {
    minZoom: 2,
    maxBounds: [[-100, -300], [100, 300]],
});
window.map.scrollWheelZoom.disable();
window.map.setView([30, 0], 2);
$.getJSON("{{ url_for('static', filename='countries.json') }}", function(data, status) {
    if(status !== "success") return;
    {% for country, num_people in breakdown['country'] %}
    if(typeof data["{{ country }}"] !== "undefined") {
        var lat_long = data["{{ country }}"];
        L.mapbox.featureLayer({
            type: "Feature",
            geometry: {
                type: "Point",
                coordinates: [
                    lat_long[0],
                    lat_long[1],
                ]
            },
            properties: {
                title: "{{ country }}",
                description: "{{ num_people }} {{ 'person' if num_people == 1 else 'people' }}.",
                "marker-size": "large",
                "marker-color": "#1c364e",
                "marker-symbol": "heart",
            }
        }).addTo(window.map);
    }
    {% endfor %}
});
</script>
{% endif %}

{% else %}
<script>
    setTimeout(function() {
        window.location.reload(true);
    }, 5000);
</script>
{% endif %}
{% endblock %}
